__pycache__/network.cpython-37.pyc
__pycache__/graph_comparison.cpython-37.pyc
__pycache__/element_test.cpython-37.pyc
__pycache__/joint_test.cpython-37.pyc
__pycache__/network.cpython-37.pyc
__pycache__/structure_test.cpython-37.pyc
__pycache__/backtracking.cpython-37.pyc
__pycache__/backtracking_parallel.cpython-37.pyc
__pycache__/element.cpython-37.pyc
__pycache__/joint.cpython-37.pyc
__pycache__/structure.cpython-37.pyc

best.txt
bridges.txt
element.pyc
IMAC.txt
joint.pyc
structure.pyc
main_IMAC.prof